*.class
# Package Files #
*.jar
*.war
*.ear
*.idea
*.iml
*.png
bower.json
.bowerrc
.settings/
.project
.classpath
hs_err_pid*
target/
node_modules/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
gen/*
R.java
img/
srvKapoue/cliKapoue/lib/